<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- Categories Section -->
  <div class="mb-8">
    <h1 class="text-2xl font-semibold text-gray-800 mb-2">Pilih Kategori</h1>
    <p class="text-sm text-gray-600">
      Sesuaikan kategori bacaan sesuai minatmu.
    </p>
  </div>

  <!-- GRID KATEGORI -->
  <div id="cards-category" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 mb-16"></div>

  <!-- List Books Section -->
  <div class="mt-12">
    <div class="mb-8">
      <h1 id="title-category" class="text-2xl font-semibold text-gray-800 mb-2">
        Buku Terpopuler
      </h1>
      <p id="desc-category" class="text-sm text-gray-600">
        Kumpulan buku terbaru dari berbagai kategori.
      </p>
    </div>
    <div id="books-percategory" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"></div>
  </div>
</div>